body {
    font-family: new 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0; 
    background:#f1a181;
}

:root {
    --transition: 300ms all ease-in-out;
}
* {
    outline: none;
    box-sizing: border-box;
     
}

/* input modal styling */
.button__container { 
    margin-top: 150px;
}
.button__container form fieldset { 
    max-width: 400px;
    margin: 0 auto;
    border-radius: 4px;
    border:none;
    background-color:#226089 ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}  
.button__container legend {
    padding: 7px 14px;
    background:#ff8a5c;
    color:white;
    font-size: 15px;
    border-radius: 12px;
}
.button__container input[type="text"] {
    min-width: 100%;
    color:#fff;
    font-size: 15px;  
    font-weight: 400;
    margin: 10px auto;
    height: 44px;
    padding: 7px;
    border-radius: 6px;
    border: 1px solid #ff8a5c;
    background:transparent;
    overflow-y: hidden;
} 
.button__container .field-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button__container .field-btns span {
    padding-top: 10px;
    color:white;
    font-size: 14px;
}
.button__container input[type="submit"] {
    float: right;
    min-width: 100px;
    margin:10px 5px 5px 0px;
    padding: 9px 15px;
    background:#4592af; 
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;     
    transition: var(--transition);

}
.button__container input[type="submit"]:hover {
    background: #3c7588;
}

/* ////////////////////////////////////////////// */

/* modal display layout styling */

.modal__message {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.664);
    position: absolute; 
    top:0;
    display: none;
    transition: all 350ms ease-in-out;

}

.display {
    display: block;
}

.modal__message .modal__message-wrapper {
    /* transition: all 5030ms ease; */
    margin-bottom: 200px;
    width: 400px;
    background-color:#226089 ;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 12px;

} 

.modal__message .modal__message-wrapper h4{
    text-align: center;
    border-radius: 4px 4px 0px 0px;
    margin: 0;
    padding: 12px;
    border-bottom: 1px solid #ff8a5c;
    background:#1c4e70;
    color: white;
}
.modal__message .modal__message-wrapper article{
    border-bottom: 1px solid #ff8a5c;
    padding: 15px 12px;
    color: white;
}
.modal__message .modal__message-wrapper .buttons{
    padding: 12px;
    background:#1c4e70;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 4px 4px ;
}
.modal__message .modal__message-wrapper .buttons button{
    padding: 5px 14px;
    background:#ff8a5c;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;     
    transition: var(--transition);
}
.modal__message .modal__message-wrapper .buttons button:hover{
    background: #fc6f37
}




@media screen and (max-width: 700px) {
    .button__container { 
        margin-top: 150px 2;
    }
    .button__container form fieldset { 
        margin: 100px 20px 20px 20px;
    } 
    .modal__message .modal__message-wrapper {
        margin-bottom: 200px;
        width: 300px;
    } 
}